.container {
    width: 95vw;
    margin: 20px;
    padding: 10px;
}
.tab {
    width: 70vw;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content:center;

    margin: 20px;
    margin-left: 10vw;
    padding: 10px;
    text-align: left;
}

.card {
    text-align: center;
}

.title {
    padding: 15px;
}
.topAction {
    padding: 15px;
}
.hidden {
    margin-top: 20px;
}