.container {
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: plum;
    height: 70px;
}
.title{
    padding: 10px;
    padding-top: 20px;
    font-size: xx-large;
    width: 60vw;
}
.headerlink{
    width: 15vw;
    font-size: 1.3em;
    padding-top: 24px;
}
.footer {
    background-color: plum;
    height: 40px;
    margin-top: auto;
}