.header{
    display: flex;
    flex-direction: row;
}
.title{
    padding: 10px;
    padding-top: 20px;
    font-size: xx-large;
    width: 60vw;
}
.headerlink{
    width: 15vw;
    font-size: 1.3em;
    padding-top: 24px;
}